<p-menubar [model]="items">
  <div *ngIf="!MemberConnected.Connect">
     <button type="button" pButton label="Connexion" icon="pi pi-user" style="margin-left:.25em" [routerLink]="['/authentification']"></button>
  </div>
  <div id="Mobile" *ngIf="MemberConnected.Connect">
      <span >
        <p-chip  label="{{MemberConnected.Pseudo}} | ELO : {{MemberConnected.Elo}}" image="./assets/images/echecs.svg" styleClass="custom-chip"></p-chip>
      </span>
    <button type="button" pButton icon="pi pi-sign-out" style="margin-left:.25em" (click)="LogoutMember()" [routerLink]="['']"></button>
 </div>
</p-menubar>

<p-toast ></p-toast>

<router-outlet></router-outlet>

<br>
<br>
<br>